.title {
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;

  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.section-title {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: rgba(47, 48, 58, 1);
}

.text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  /* or 171% */
  letter-spacing: 0.03em;

  color: #757575;
}

.text-pra {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;

  color: #757575;
}

.articles {
  position: absolute;
  width: 352px;
  height: 42px;
  left: 624px;
  top: 969px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.menu {
  position: absolute;
  width: 1600px;
  height: 80px;
  left: 0px;
  top: 0px;
}
.main-page {
  position: relative;
  width: 1600px;
  height: 2349px;

  background: #ffffff;
}
