:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --productborder: #eeeeee;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: rgba(47, 48, 58, 1);
  font-size: 14px;
  letter-spacing: 0.03em;
  cursor: pointer;
}

/*powtarzające*/
.no-line {
  text-decoration: none;
}

.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166666666666667;
  text-align: center;
  color: var(--black);
}
/*menu-nav*/
.wrapper {
  background-color: white;
  width: 1600px;
}
.container {
  width: 1200px;
}
.header {
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
}
.webstudio {
  border-style: none;
  font-family: "Raleway";
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
}
.blue-text {
  color: blue;
}
.nav-list {
  display: flex;
  list-style: none;
  line-height: 1.2;
  margin: 0;
}
.nav-style {
  gap: 46px;
  line-height: 1.2;
  padding: 0;
}
.nav-link {
  height: 16px;
  font-weight: 500;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  display: flex;
  line-height: 1.2;
}

/*contakty boczne*/
.contact-style {
  gap: 50px;
}
.contact-link-style {
  color: var(--grey);
  font-weight: 500;
}

/*bg&button*/
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white);
}

.section-top {
  width: 100%;
  color: var(--white);
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: var(--darkgrey);
}
.button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  background: var(--blue);
  border-radius: 4px;
  border-style: none;
  cursor: pointer;
  color: var(--white);
}

/*Lorem list*/
.container-list {
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.container-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2em;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--black);
}

.container-title {
  font-weight: 700;
  color: #212121;
  font-size: 14px;
  line-height: 1.1428571428571428;
}
.container-text {
  line-height: 0.03em;
  line-height: 1.71;
  width: 270px;
}
/*czym sie zajmujemy*/
.hobby {
  align-items: center;
  flex-direction: column;
}

.hobby-title-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}
.hobby-title-item {
  list-style-type: none;
  width: 370px;
  height: 294px;
  display: flex;
}

/*Nasz zespół*/
.container-social {
  width: 1600px;
  height: 648px;
  left: 0px;
  top: 1449px;
}

.social-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
}
.social-list-item {
  weight: 270px;
  height: 260px;
  list-style-type: none;
}
.name-social {
  gap: 99px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--black);
}
.text-pra {
  font-size: 16px;
  line-height: 1.2em;
  text-align: center;
  letter-spacing: 0.03em;
  background: rgb(255, 254, 254);
  color: #757575;
  list-style-type: none;
  font-size: 16px;
}
/*footer container*/
.footer {
  width: 100%;
  background-color: var(--darkgrey);
}
.adress {
  font-size: 14px;
  color: var(--white);
}
.footer-list {
  list-style: none;
}
.footer-link {
  color: gray;
  text-decoration: none;
}

.white-logo {
  color: var(--white);
}

.footer-link:hover,
.footer-link:focus,
.blue-text:hover,
.blue-text:focus {
  color: blue;
}

/*portfolio*/
.styles-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  list-style: none;
}
.style-button {
  background-color: var(--white);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  font-family: "Roboto";
}
.style-button:focus,
.style-button:hover {
  box-shadow: 0px 2px 2px rgba(000, 000, 000, 0.3);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}
.project-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  list-style: none;
}
.project-item li {
  border: var(--productborder) solid 1px;
  width: 370px;
  height: 404px;
}
.project-list-item h4 {
  color: var(--darkgrey);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}
.project-list-text p {
  line-height: 1.88;
  font-size: 16px;
}
.style-line {
  border-bottom: var(--white) solid 1px;
}
